# Add any directories, files, or patterns you don't want to be tracked by version control
.ipynb_checkpoints
__pycache__
*.swp
*.pyc
old/

bin/
include/
lib/
pip-*
share/

# vagrant
vagrant/
vagrant/.vagrant/
vagrant/*.log

# pycharm
.idea/

# misc
kent_distribution
contributed

# output figures
*.pdf
*.png

# temporary files
.tmp/
